[Unit]
Description=Palworld Web Management & Telemetry Plane
After=network-online.target
Wants=network-online.target
Wants=palworld-supervisor.service
After=palworld-supervisor.service

[Service]
User=palmanager
Group=palmanager
WorkingDirectory=/opt/palworld-web-manager
Environment="PATH=/opt/palworld-web-manager/.venv/bin:/usr/local/bin:/usr/bin:/bin"
Environment="PALWORLD_SERVICE_NAME=palworld.service"
ExecStart=/opt/palworld-web-manager/.venv/bin/python -m app.main

Restart=always
RestartSec=5

ProtectSystem=true
ProtectHome=false
PrivateTmp=true
ReadWritePaths=/var/lib/palmanager /home/steam /opt/palworld-web-manager /tmp /etc/systemd/system

[Install]
WantedBy=multi-user.target
